
@font-face {
    font-family: 'CustomFont';
    src: url('../../public/assets/Copperplate Gothic Std 32 BC.otf') format('truetype');
    /* Add other font properties like font-weight, font-style, etc. */
}

.footer-div{
    display: flex;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    /* background: linear-gradient(to bottom, rgba(26, 52, 2, 0.859), rgb(22, 45, 1)), url('../assets/mosaic-2790344_1280.png'); */
    background: linear-gradient(to bottom, rgba(13, 117, 122, 0.984), rgba(1, 24, 20, 0.859)),  url('../../public/assets/squaregreen.png');
    background-size: cover;
    background-position: center;
}

.footer-child{
    width: 33%;
    color: white;
    font-family: "CustomFont";
}
#footer-child1{
    padding-top: 4vw;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    color: white;
    letter-spacing: 0.1rem;
}

#footer-child2 img{
    height: 8vw;
    width: 10vw;
}
#footer-child3 {
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    align-items: center;
    text-align: center;
}
#map-div{
    height: 80%;
    width: 100%;
    background-color: aliceblue;
}
#maphead{
    padding-bottom: 0.5vw;
}

#footer-child2{
    color: white;
    padding-top: 5vw;
    padding-left: 8vw;
    padding-bottom: 8vw;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.footheads{
    display: flex;
    gap: 20px;
}
.footer_base{
    text-align: center;
    padding: 1vw;
}

@media (max-width: 1100px) {
    #footer-child2{
        color: white;
        padding-top: 11vw;
        padding-left: 12vw;
        padding-bottom: 8vw;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    #footer-child1{
        padding-top: 4vw;
        justify-content: center;
        align-items: center;
        padding-left: 2vw;
        color: white;
        letter-spacing: 0.1rem;
        font-size: 12px;
    }
    #footer-child3 {
        padding-left: 3.5vw;
        padding-right: 3.5vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        align-items: center;
        text-align: center;
    }
    .imagediv img{
        max-width: 100%;
        max-height: 100%;
    }
  }